@model UtilityViewModel

@{
    ViewData["Title"] = "DataComparison";
}

<h1>DataComparison</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
               Id
            </th>
            <th>
                Company Name
            </th>
            <th>
                Server Name
            </th>
            <th>
                Database Name
            </th>
          
            <th>
                Database Type
            </th>
            <th>
                Environment
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ConnectionInformation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatabaseName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DatabaseCType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Environment)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>